<footer class="site-footer ">
	<div class="footer-bg">
		{%- include footer/blue-smile.svg -%}
	</div>	
	<div class="footer-content clearfix">
		<div class="sm-col sm-col-6 p2">
			<h2 class="footer-heading">HOURS</h2>
			{%- for item in site.data.opening_hours.days -%}
				<p class="clearfix"><span class="col day">{{item.day}}</span> <span class="col-right hours">{{item.hours}}</span></p>
			{%- endfor -%}
		</div>
		<div class="sm-col sm-col-6 p2">
			<h2 class="footer-heading ">LOCATION</h2>
			{%- include footer/footer-logo.html -%} 
			
			<p class="location">
				{{site.data.location.streetAddress}}<br>
				{{site.data.location.city}}, {{site.data.location.province}} <br> 
				{{site.data.location.postalCode}} <br>
				{%- include components/buttons/directions/button-directions.html -%}
			</p>
		</div>
	</div>

</footer>

