<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
   
    <a class="mx-auto block logo-width"  href="{{ "/" | relative_url }}">
      
			<amp-img  alt="{{ site.company_name }}"
								src="{{ site.baseurl }}{%- link assets/logo.png  -%}"
								width="600"
								height="156"
								layout="responsive">
			</amp-img>
    </a>
 
    {%- if page_paths -%}
      <nav id="menu">
        <div class="center py2 light-border light-background border-top border-bottom">
          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <a class="btn py2 px2 border-light" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            {%- endif -%}
          {%- endfor -%}
        </div>
      </nav>
    {%- endif -%}
  </div>
</header>

<!-- http://basscss.com/v7/docs/guides/layout/ -->