// white space
$space-1: .5rem !default;
$space-2: 1rem !default;
$space-3: 2rem !default;
$space-4: 4rem !default;


// COLOR

// blue spectrum

// darker
$dark_blue: #026786;
// center
$logo_blue: #0082a8;
// lighter
$light_blue: #05a4d4;

//green spectrum

$light_green: rgb(104, 206, 104);


// responsive
// nav breakpoint
$nav-toggle:504px;