---
layout: page
title: Site Variables
permalink: /site-vars/
type: page
schema: debug
---


<h2>Variables</h2>

<h3>Navigation variables</h3>

<pre>
{{site.data.navigation}} 
</pre>

{% for element in site.data.navigation.menu %}
    {% if element.dropdown  %} 
       <h2> {{ element.dropdown }} </h2>
       <ul>
    {% for dropdownItem in element.dropdownItems %}
       <li> <a href="{{ site.url }}{{ site.baseurl }}{{ dropdownItem.linkUrl }}">  {{ dropdownItem.linkText }} </a>  </li>
      {% endfor %} 
    </ul>
    {% else %}
    <li> <a href="{{ site.url }}{{ site.baseurl }}{{ element.linkUrl }}"> {{element.linkText}} </a> </li>
    {% endif %} 

{% endfor %}    