@import 'vars';
.nav-wrapper{
    position: relative;
    z-index:999;
}
.main-menu{

    text-align:center;
    a, header{
        display:block;
        padding:1em;


    }
    header::after{
        content:"\25BC";
        display:inline-block;
        font-size:0.6em;
        padding-left:0.3em;
        
    }
    ul{
        list-style-type: none;
        margin:0;
        padding:0;
    }
    >ul{
        display:inline-block;
        }
    >ul>li{
        float:left;
    }


    >ul>li>ul{
        display:none;
    }
}