---
layout: page
title: Site Variables
permalink: /site-vars/
type: page
schema: debug

# amps_components:
amp-sidebar: yes
amp-accordion: yes

---

<style>
pre{
    overflow:scroll;
    min-height:100px;
}

</style>
<p>actions</p>
<button on="tap:d1.collapse">CLICK THIS</button>
<h2>Variables</h2>

<h3>Navigation variables from a yaml file explicitly stated</h3>

<pre>
{{site.data.navigation}} 
</pre>

{% for element in site.data.navigation.menu %}
    {% if element.dropdown  %} 
       <h2> {{ element.dropdown }} </h2>
       <ul>
    {% for dropdownItem in element.dropdownItems %}
       <li> <a href="{{ site.url }}{{ site.baseurl }}{{ dropdownItem.linkUrl }}">  {{ dropdownItem.linkText }} </a>  </li>
      {% endfor %} 
    </ul>
    {% else %}
    <li> <a href="{{ site.url }}{{ site.baseurl }}{{ element.linkUrl }}"> {{element.linkText}} </a> </li>
    {% endif %} 

{% endfor %}    

<h2>site pages data relating to paths is site.pages</h2>

{%- assign default_paths = site.pages | map: "path" -%}
<div>
 <p>defualt_paths: (site.pages | map: "path") </p>  <p>{{ default_paths }}</p>
</div>

{%- assign page_paths = site.header_pages | default: default_paths -%}
!!!!!!!!!!!!!!!<br>
<div>
    <p>page_paths (site.pages | map : "path or site.header_pages"): </p>  <p>{{ page_paths }}</p>
</div>
!!!!!!!!!!!!!!!<br>
{%- for path in page_paths -%}
<p>PATH: {{path}}</p>
{%- endfor -%}

{%- for path in page_paths -%}

{%- assign my_page = site.pages | where: "path", path | first -%}
<hr>
{% highlight json %}
<p>assign my_page = site.pages | where: "path", path | first </p>
PATH my page: {{my_page }}
Path my_page.url: {{ my_page.url  }}
Path my_page.url | relative_url: {{ my_page.url | relative_url }}
{% endhighlight %}
<hr>
{%- endfor -%}



<div>
    <p>site.header_pages: </p>  <p> --- {{ site.header_pages }} --- </p>
</div>


<div>
   {{ site.data.global-components}}
</div>

<div>
    page.amp-accordian : {{ page.amp-accordion }}
    page.amp-sidebar: {% if page.amp-sidebar %} show amp-sidebar {%endif%}
</div>
